/*Buisness view css*/
.navbar {
  background-color: white;
  height: 80px;
}

nav img {
  height: 50px;
}

nav li {
  padding-top: 15px;
}

div li {
  display: inline;
}

#top {
  font-weight: bold
}

#top:link {
  color: black;
}

#top:visited {
  color: black;
}

.jumbotron {
  background: transparent url(../graphics/Bakgrund/bakgrund1.png) no-repeat bottom center scroll;
  height: 1000px;
  width: 100%;
  position: center;
  padding-bottom: 0;
  margin-bottom: 0;
  display: block;
}

.intro-buttons {
  display: inline;
}

header {
  text-align: center;
  color: white
}

header .container {
  padding-top: 100px;
  padding-bottom: 0;
  margin-bottom: 0;
}

header .intro-text {
  display: block;
  padding-top: 300px;
}

header .intro-textinfo {
  display: block;
  padding-top: 100px;
}

#greeting {
  text-align: left;
  margin-left: 50px;
  padding-bottom: 5px;
    padding-left: 300px;
  font-size: 40px;
}

#annons {
padding-left: 330px;
}

#content4 { 
  overflow:auto; 
  width: 1000px; 
  margin-left: 50px;
   column-gap: 1px;
  /*background: gray; */
} 

#left { 
  width: 40%; 
  margin:5px; 
padding-left: 0px;
  background: white; 
  /*border: 1px solid black; */
} 

#right { 
  width: 50%; 
    height: 20%;
  margin:5px; 
  padding: 1em; 
  background: white;  
} 

#left  { float:left;  }
#right { float:right; } 

#logo-toppen {
	padding: 3px;
    width: 800px;
}
#logo-right {
	padding: 3px;
    width: 472px;
}

#sokande {
    width: 500px;
	padding: 3px;
   
}

#get-job {
  content: url(../graphics/Knappar/knapp_jag_vill_jobba.png) no-repeat center;
  position: center;
  display: inline-block;
  max-width: 13%;
  padding-right: 6px;
}

#get-job:hover {
  content: url(../graphics/Knappar/knapp_jag_vill_jobba_hover.png);
  position: center;
  display: inline-block;
  max-width: 13%;
  padding-right: 6px;
}

#recruit {
  content: url(../graphics/Knappar/knapp_vi_vill_rekrytera.png) no-repeat center;
  position: center;
  display: inline-block;
  max-width: 13%;
  padding-left: 6px; 
}

#recruit:hover {
  content: url(../graphics/Knappar/knapp_vi_vill_rekrytera_hover.png);
  position: center;
  display: inline-block;
  max-width: 13%;
  padding-left: 6px; 
}

#headline-e {
  display: block;
  margin-top: 5px;
  margin-bottom: 5%;
  margin-left: 50px;
}

#description-e {
  font-size: 18px;
}

.process {
  background: url(../graphics/Bakgrund/bakgrund_blå_kort.png) no-repeat bottom center scroll;
  position:absolute;
  left:0px;
  width:100%;
  height:100%;
  display: block;
  padding-top: 40px;
  margin-top: 15%;
  padding-top: 10%;
  margin-bottom: 10%;
}

.path {
  content: url(../graphics/Process/processen_hela_vit.png) no-repeat center;
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 15%;
  padding-bottom: 10%;
}

.white_content {
	    display: none;
	    /*position: absolute;*/
	    top: 100%;
	    left: 25%;
	    width: 70%;
	    height: 50%;
	    padding: 40px;
      background-color: black;
	    /*border: 16px black;*/
	    background-color: white;
      margin-right: 50px;
	    z-index:1001;
	    overflow: auto;
}

#headline-p {
  display: block;
  margin-top: 5px;
  color: white;
  padding-left: 20%;
}

#description-p {
  font-size: 18px;
  color: white;
  padding-left: 33%;
}
#charts {
    padding-left: 200px;
    position: center;
}
#fix {
  padding-top: 14%;
}

#footer {
  height: 15%;
}
#dataText {
    color: white;
  padding-left: 400px;
}