.navbar {
  background-color: white;
  height: 80px;
}

nav img {
  height: 50px;
}

nav li {
  padding-top: 15px;
}

div li {
  display: inline;
}

.jumbotron {
  background: transparent url(../graphics/Bakgrund/bakgrund1.png) no-repeat bottom center scroll;
  height: 1000px;
  width: 100%;
  position: center;
  padding-bottom: 0;
  margin-bottom: 0;
  display: block;
}

.intro-buttons {
  display: inline;
}

header {
  text-align: center;
  color: white
}

header .container {
  padding-top: 100px;
  padding-bottom: 0;
  margin-bottom: 0;
}

header .intro-text {
  display: block;
  padding-top: 300px;
}

#greeting {
  position: center;
  padding-bottom: 40px;
}

#recruit {
  content: url(../graphics/Knappar/knapp_vi_vill_rekrytera.png) no-repeat center;
  position: center;
  display: inline-block;
  max-width: 13%;
  padding-left: 6px; 
}

#recruit:hover {
  content: url(../graphics/Knappar/knapp_vi_vill_rekrytera_hover.png);
  position: center;
  display: inline-block;
  max-width: 13%;
  padding-left: 6px; 
}

#headline-e {
  display: block;
  margin-top: 5px;
  margin-bottom: 5%;
}

#description-e {
  font-size: 18px;
}

.process {
  background: url(../graphics/Bakgrund/bakgrund_blå_kort.png) no-repeat bottom center scroll;
  position:absolute;
  left:0px;
  width:100%;
  height:100%;
  overflow:auto;
  display: block;
  padding-top: 40px;
  margin-top: 15%;
  padding-top: 10%;
  margin-bottom: 10%;
}

#headline-r {
  display: block;
  margin-top: 4%;
  color: white;
  padding-left: 20%;
}

#description-r {
  font-size: 18px;
  color: white;
  padding-left: 4%;
}

#register {
  padding-left: 19%;
  max-width: 70%;
}

#footer {
  height: 15%;
}

.btn {
  color: white;
  background-color: black;
  margin-top: 2%;
}
