* {
  margin: 0;
}

html, body {
  height: 100%;
}

.page-wrap {
  min-height: 100%;
  margin: 0 auto -80px;
}

.navbar {
  background-color: white;
  height: 80px;
}

nav img {
  height: 50px;
}

nav li {
  padding-top: 15px;
}

div li {
  display: inline;
}

#top {
  font-weight: bold
}

#top:link {
  color: black;
}

#top:visited {
  color: black;
}

.jumbotron {
  background: transparent url(../graphics/Bakgrund/bakgrund1.png) no-repeat bottom center scroll;
  height: 1000px;
  position: center;
  padding-bottom: 0;
  margin-bottom: 0;
  display: block;
}
.white_content {
      display: none;
      /*position: absolute;*/
      top: 100%;
      left: 25%;
      width: 70%;
      height: 50%;
      padding: 40px;
      background-color: black;
      /*border: 16px black;*/
      background-color: white;
      margin-right: 50px;
      z-index:1001;
      overflow: auto;
}

.intro-buttons {
  display: inline;
}

header {
  text-align: center;
  color: white
}

header .container {
  padding-top: 100px;
  padding-bottom: 0;
  margin-bottom: 0;
}

header .intro-text {
  display: block;
  padding-top: 300px;
}

#greeting {
  position: center;
  padding-bottom: 60px;
}

#get-job {
  content: url(../graphics/Knappar/knapp_jag_vill_jobba.png) no-repeat center;
  position: center;
  display: inline-block;
  max-width: 13%;
  padding-right: 6px;
}

#get-job:hover {
  content: url(../graphics/Knappar/knapp_jag_vill_jobba_hover.png);
  position: center;
  display: inline-block;
  max-width: 13%;
  padding-right: 6px;
}
#search {
  content: url(../graphics/Knappar/knapp_sok.png);
  position: center;
  display: inline-block;
  max-width: 13%;
  padding-right: 6px;
}
#search:hover {
  content: url(../graphics/Knappar/knapp_sok_hover.png);
  position: center;
  display: inline-block;
  max-width: 13%;
  padding-right: 6px;
}

#recruit {
  content: url(../graphics/Knappar/knapp_vi_vill_rekrytera.png) no-repeat center;
  position: center;
  display: inline-block;
  max-width: 13%;
  padding-left: 6px; 
}

#recruit:hover {
  content: url(../graphics/Knappar/knapp_vi_vill_rekrytera_hover.png);
  position: center;
  display: inline-block;
  max-width: 13%;
  padding-left: 6px; 
}

@font-face {
  font-family: myFont;
  src: url(../graphics/Typsnitt/montserrat/Montserrat-Regular.otf);
}

#headline-e {
  display: block;
  margin-top: 5px;
  margin-bottom: 5%;
}

#description-e {
  font-size: 18px;
  font-family: myFont, sans-serif;
}

.process {
  background: url(../graphics/Bakgrund/bakgrund_blå_kort.png) no-repeat bottom center scroll;
  position:absolute;
  left:0px;
  height:100%;
  display: block;
  padding-top: 40px;
  margin-top: 15%;
  padding-top: 10%;
  margin-bottom: 10%;
}

.path {
  content: url(../graphics/Process/processen_vit_text.png) no-repeat center;
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 15%;
  padding-bottom: 10%;
  padding-top: 8%;
}

#headline-p {
  display: block;
  margin-top: 5px;
  color: white;
  padding-left: 20%;
}

#description-p {
  font-size: 18px;
  color: white;
  padding-left: 33%;
  padding-top: 12%
;  font-family: myFont, sans-serif;
}

#fix {
  padding-top: 14%;
}
