.navbar {
  background-color: white;
  height: 80px;
}

nav img {
  height: 50px;
}

nav li {
  padding-top: 15px;
}

div li {
  display: inline;
}

.container {
  display: block;
}

.jumbotron {
  background: url(../graphics/Bakgrund/bakgrund1.png) no-repeat bottom center scroll;
  height: 1500px;
  width: 100%;
  background-repeat: no-repeat;
}

/* {
  position: relative;
  top: 100px;
}*/

.intro-text li {
  display: inline;
}

.greeting {
  font-size: 50px;
  text-align: center;
}

header {
  text-align: center;
  color: white
}

header .container {
  padding-top: 100px;
  padding-bottom: 50px;
}

header .intro-text {
  display: block;
}

@font-face {
  font-family: 'jaapokki';
  src: url('graphics/Typsnitt/Jaapokki-Regular.otf') format('opentype');
}

h1 {
  font-family: 'jaapokki', sans-serif;
  text-align: center;
}

div a:link {
  background: url(../graphics/Knappar/knapp_jag_vill_jobba.png) no-repeat bottom center scroll;
  
}